html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/Telegram.jpg);
}
.container-form {
  margin: 4rem auto;
  height: 16rem;
  width: 12rem;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  font-size: 0.5rem;
}
h3 {
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  position: relative;
}
h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #00aaff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
h3:hover::after {
  transform: scaleX(1);
}

form {
  width: 12rem;
  height: 16rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Jost", sans-serif;
  font-family: "Nova Cut", cursive;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;
  transition: border-color 1s ease-in-out;
}
form:focus {
  border-color: blue; /* Cambia el color a tu preferencia */
  outline: none; /* Para eliminar el contorno predeterminado en algunos navegadores */
  box-shadow: 0 0 5px blue; /* Cambia el color y el efecto de sombra a tu preferencia */
}
.inputUno {
  width: 60%;
  margin: auto;
  font-size: 0.5rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.067);
  background-color: #eee;
  outline: none;
  height: 2.5em;
  transition: transform 1s;
}
label {
  font-size: 0.7rem;
}
.inputUno:hover {
  background-color: white;
  border-bottom: 1px solid rgba(5, 190, 241, 0.77);
  transform: scale(1.1);
}
.inputUno:focus {
  border-color: rgba(5, 190, 241, 0.77); /* Cambia el color a tu preferencia */
  box-shadow: 0 0 5px rgba(5, 190, 241, 0.77); /* Cambia el color y el efecto de sombra a tu preferencia */
}
#button {
  width: 60%;
  height: 2.5em;
  margin: auto;
  background-color: whitesmoke;
  font-size: 0.5rem;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;

  transition: transform 0.3s ease-in-out;
}
#button:hover {
  transform: scale(1.2);
  background-color: rgb(64, 160, 234);

  color: black;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#button:active {
  transform: scale(0.9);
}
